/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
/.htaccess
/storage/*
public/.htaccess
/app/Python-laravel
.gitignore

.history
/public/css/app.css
/public/js/app.js
/public/js/*
/public/css/pages
/public/mix-manifest.json
/public/fonts/vendor

package-lock.json

public/consulta.xml
public/consultaRequest.xml
public/consultaResponseFrm.xml
public/demoxds.xml
public/initialFirmProcess.xml
public/initialFirmProcessContent.xml
public/initialRequest.xml
public/pagare.pdf
public/token.txt
public/confirmarCodeResponse.xml
public/consultaFirmadoResponse.xml
public/firmaExecutionResponse.xml
public/generateCodeResponse.xml
public/generateCodeResponseContent.xml
/python/*

resource/assets/js/app.js
public/css/styles.css
yarn.lock