html,
body {
  font-family: Poppins;
}

.package {
  display: flex;
  justify-content: center;
}
.package-title {
  padding: 0 2rem;
}
.package-title h3 {
  font-weight: bold;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.package-features {
  list-style: none;
  padding-left: 4.5rem;
  padding-right: 2rem;
}
.package-features li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #92a19f;
  margin-bottom: 2rem;
}
.package-features li svg {
  position: absolute;
  left: 30px;
}
.package-btn {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.package.featured .price {
  color: #faa600;
}
.package .circle-shape {
  width: 70%;
  border-radius: 100%;
  padding-top: 70%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  background-color: #ffffff;
}
.package .price-wrap {
  width: 60%;
  border-radius: 100%;
  padding-top: 60%;
  position: absolute;
  top: 3%;
  z-index: 3;
}
.package .price {
  width: 100%;
  position: absolute;
  z-index: 3;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.package .price .currency {
  font-size: 36px;
  top: -25px;
  position: relative;
}
.package .price .amount {
  font-weight: bold;
  font-size: 5vw;
}
.package .price .period {
  position: relative;
  bottom: -20px;
}
.package .card-shape {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 50%;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding-top: 7rem;
}
.package .card-shape .bottom-decor {
  height: 3rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.text-big {
  font-size: 2.8vw;
  line-height: 1.3;
}
.text-big .fancy-text {
  font-family: BillionDreams;
  font-size: 10vw;
  font-weight: normal;
  line-height: 0.6;
  display: inline-block;
}

.text-big-personas {
  font-size: 150px;
  text-align: center;
  margin-bottom: 0;
  height: 210px;
}

.container-sections {
  text-align: center;
  width: 100%;
}

.withe-font {
  color: #fff;
  font-size: 18px;
}

.col-icons {
  text-align: center;
}
.col-icons .icon-line {
  padding: 20px;
  margin: 5px;
  border-bottom: 2px solid #0cedb0;
}
.col-icons .text-line {
  margin-top: 10px;
  font-size: 18px;
}

.text-pc {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 110px !important;
}

.text-cursi {
  font-size: 80px !important;
  line-height: 50px !important;
}

.text-final1 {
  font-size: 50px !important;
  line-height: 50px;
}

.text-final2 {
  font-size: 53px !important;
}

.first-text {
  font-size: 18px;
}

.medium-text {
  font-size: 13px;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.subscription-card {
  border: 2px solid #0cedb0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.subscription-card .percent {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
}
.subscription-card .text {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  color: #0cedb0;
  margin-bottom: 0.5rem;
}
.subscription-card .text span {
  display: block;
  color: #000000;
}
.subscription-card .small-text {
  color: #021b1e;
  font-size: 11px;
}
.subscription-card.featured {
  background-color: #000000;
  border-color: #021b1e;
}
.subscription-card.featured .flag-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: flex-end;
  top: 0;
}
.subscription-card.featured .flag-wrap .flag {
  position: relative;
  right: -7px;
}
.subscription-card.featured .flag-wrap span {
  position: absolute;
  transform: rotate(270deg);
  right: -38px;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}
.subscription-card.featured .percent {
  color: #ffffff;
}
.subscription-card.featured .text span {
  color: #ffffff;
}
.subscription-card.featured .small-text {
  color: #0cedb0;
}

.subscriptions .col-4:nth-child(2) .subscription-card {
  border-left: 0;
  border-right: 0;
}

.follow-us h2 {
  font-family: BillionDreams;
  font-style: normal;
  font-weight: normal;
  font-size: 10vw;
  line-height: 177px;
  color: #0cedb0;
}
.follow-us .social-media {
  display: flex;
  justify-content: center;
}
.follow-us .social-media a {
  margin-right: 8px;
  margin-left: 8px;
}
.follow-us .social-media a svg {
  fill: #021b1e;
}

.sub-footer span {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
