.arrow
{
	cursor: pointer;
}

.loader{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.6);
	z-index: 100000;
}

.loader .spinner-border
{
	position: absolute;
	top: calc(50%);
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px !important;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper label{
    font-weight: normal !important;
}

.dataTables_length select,
.dataTables_filter input{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    font-size: .75em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    font-size: .75em !important;
    border-radius: 50% !important;
}

.table{
	font-size: .85em;
}

.form-control{
    font-size: 12px !important;
}

.hidden{
	display: none;
}

.btn{
	font-size: 0.9rem;
}

.pad{
	font-weight: normal;
}

.label-consulta{
	font-weight: bold;
}

.login-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.container.login{
	height: calc(100% - 52px);
}

.container.login>.container{
	height: 100%;
}

.container.login>.container>.row{
	height: 100%;
}

.container.login .btn-primary{
	background: #3097D1;
	border: 1px solid #3097D1;
}

.container.login .btn-outline-primary{
	color: #3097D1;
	border: 1px solid #3097D1;
}
	
.container.login .btn-primary:hover{
	background: #257fb1;
}


.container.login .btn-outline-primary:hover{
	background: #3097D1;
	color:white;
}

.panel-heading{
	font-size: 1.2em;
}

.input-verde{
	background-color: #7dd47d;
	border: 1px solid #2e822e;
}

.input-amarillo{
	background-color: #efdc68;
	border: 1px solid #ab9a30;
}

.input-rojo{
	background-color: #d47d7d;
	border: 1px solid #822e2e;
}