.arrow
{
	cursor: pointer;
}

.loader{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.6);
	z-index: 100000;
}

.loader .spinner-border
{
	position: absolute;
	top: calc(50%);
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px !important;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper label{
    font-weight: normal !important;
}

.dataTables_length select,
.dataTables_filter input{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    font-size: .75em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    font-size: .75em !important;
    border-radius: 50% !important;
}

.table{
	font-size: .85em;
}

.form-control{
    font-size: 12px !important;
}

.hidden{
	display: none;
}

.btn{
	font-size: 0.9rem;
}

.pad{
	font-weight: normal;
}

.label-consulta{
	font-weight: bold;
}

.label-consulta.label-warning {
    background-color: transparent !important;
    color: #212529 !important;
}

.label-consulta.label-warning::before{
	content: '!';
	color: white;
	padding: 2px 9px;
	margin-right: 5px;
	background-color: #f39c12;
	border-radius: 100px;
}

.label-consulta.label-warning>.pad {
    color: #f39c12 !important;
}

.label-consulta>select{
	width: 100%;
}

.login-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.container.login{
	height: calc(100% - 52px);
}

.container.login>.container{
	height: 100%;
}

.container.login>.container>.row{
	height: 100%;
}

.container.login .btn-primary{
	background: #3097D1;
	border: 1px solid #3097D1;
}

.container.login .btn-outline-primary{
	color: #3097D1;
	border: 1px solid #3097D1;
}
	
.container.login .btn-primary:hover{
	background: #257fb1;
}


.container.login .btn-outline-primary:hover{
	background: #3097D1;
	color:white;
}

.panel-heading{
	font-size: 1.2em;
}

.input-verde{
	background-color: #7dd47d !important;
	border: 1px solid #2e822e;
}

.input-amarillo{
	background-color: #efdc68 !important;
	border: 1px solid #ab9a30;
}

.input-rojo{
	background-color: #d47d7d !important;
	border: 1px solid #822e2e;
}

.tipo-cliente{
	font-weight: 600;
}

.process-status{
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	margin: 5px 5px 0 0;
	border-radius: 100px;
}

td:nth-child(2n) { 
    width: 10%;
}

.form-check>label{
	margin-left: 20px;
}

.btn.eliminar-registro {
	font-size: 1em;
    padding: 0 5px;
    margin-top: -4px;
    color: #c54c4c !important;
}

.process-status.status-processing{
	animation: pulse 1s infinite;
	animation-direction: alternate;
}

.process-status.status-ok{
	background-color: #7df387;
}

.process-status.status-error{
	background-color: #f37d7d;
}

@keyframes pulse {
  0% {
    background-color: #f3e07d;
  }
  100% {
    background-color: #e4cf60;
  }
}

#valor-tipo-cliente{
	font-weight: 900;
    color: #3197d1;
    background-color: white;
    padding: 3px 5px 4px 5px;
    border-radius: 5px;
}

#toast-message .col-md-4{
	position: absolute;
    top: 0px;
    right: 0px;
	z-index: 9999;
	
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}