.arrow
{
	cursor: pointer;
}

.loader{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.6);
	z-index: 100000;
}

.loader .spinner-border
{
	position: absolute;
	top: calc(50%);
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px !important;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper label{
    font-weight: normal !important;
}

.dataTables_length select,
.dataTables_filter input{
    border: 1px solid #ddd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    font-size: .75em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    font-size: .75em !important;
    border-radius: 50% !important;
}

.table{
	font-size: .85em;
}

.form-control{
    font-size: 12px !important;
}

.hidden{
	display: none;
}