$cobalt: #0052a7 !default;
$ship-grey: #575756 !default;
$slate-blue: #6770f2 !default;
$lavender: #e8e9fd !default;
$dark-cerulean: #004280 !default;

$theme-colors: (
  'cobalt': $cobalt,
  'ship-grey': $ship-grey,
  'slate-blue': $slate-blue,
  'lavender': $lavender,
  'dark-cerulean': $dark-cerulean
);
