$cobalt: #0052a7 !default;
$ship-grey: #575756 !default;
$slate-blue: rgba(16, 221, 142, 0.5) !default;
$lavender: #e8e8f0 !default;
$dark-cerulean: #004280 !default;

$theme-colors: (
  'cobalt': $cobalt,
  'ship-grey': $ship-grey,
  'slate-blue': $slate-blue,
  'lavender': $lavender,
  'dark-cerulean': $dark-cerulean
);
