$black: #000000;
$black-pearl: #021b1e;
$spring-green: #0cedb0;
$caribbean-green: #10dd8e;
$elf-green: #1e8271;
$white: #ffffff;
$tangerine-yellow: #fcca00;
$orange: #faa600;
$alice-blue: #f5f8fa;

$theme-colors: (
  "black-pearl": $black-pearl,
  "spring-green": $spring-green,
  "caribbean-green": $caribbean-green,
  "elf-green": $elf-green,
  "black": $black,
  "white": $white,
  "tangerine-yellow": $tangerine-yellow,
  "orange": $orange,
);
