// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.text-big-personas {
  font-size: 150px;
  line-height: 1em;
  text-align: center;
  color: rgb(9, 186, 139);
}

.col-icons {
  text-align: center;

  .icon-line {
    padding: 20px;
    margin: 5px;
    border-bottom: 2px solid rgb(9, 186, 139);
  }

  .text-line {
    margin-top: 10px;
    font-size: 18px;
  }
}

.text-pc {
  font-weight: bold;
  font-size: 110px;
}

.text-cursi {
  font-family: BillionDreams;
  font-size: 80px;
  line-height: 1;
}

.text-final1 {
  font-size: 50px;
  line-height: 50px;
}

.text-final2 {
  font-size: 53px;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;

  &-bottom {
    font-size: 110px;
    line-height: 1;
  }
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
}

//Responsive

@media (max-width: 600px) {
  .first-text-res {
    display: block !important;
  }
  .first-desk {
    display: none !important;
  }
  .img-sec3 {
    display: none !important;
  }
  .img-sec4 {
    display: block !important;
  }
  .text-big-personas {
    font-size: 86px;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 20px;
  }
  .text-ami {
    font-size: 15px;
    text-align: center;
  }
  .texts-p {
    text-align: justify;
    padding: 5px 25px;
  }
  .text-ami-bottom {
    font-size: 54px;
    line-height: 1;
  }
  .text-final1 {
    font-size: 23px;
    line-height: 30px;
  }
  .text-final2 {
    font-size: 31px;
  }
  .respo {
    display: block !important;
  }
  .desk {
    display: none !important;
  }
  .text-cursi {
    font-family: BillionDreams;
    font-size: 46px;
    line-height: 1;
  }
}
.desk {
  display: block;
}
.respo {
  display: none;
}
.first-text-res {
  display: none;
}
.img-sec3 {
  display: block;
}
.img-sec4 {
  display: none;
}
.title{
  color: #056e52;
}
.subtitle{
  color: rgb(9, 186, 139);
}
.degradado{
  background: linear-gradient(90deg, #11484b, #0dbf95e1, #11484b, #0dbf95e1);
  -webkit-background-clip: text;
  color: transparent;  
}
.text1{
  max-width: 540px; 
  text-align: justify;
}
.btn-informacion:hover{
  color: rgb(9, 186, 139);
}
.div-icon{
  border-bottom: 2px solid black;
}

.section1{
  height: 100vh;
}
.section2{
  
  height: 100vh; 
  
}
.section3{
  height: 90vh;
  // background-image: url('/img/grey-background3.png');
  // background-size: 100% 565px;
  // background-repeat: no-repeat;
}
.section4{
  
}
.section5{
  
  // background-image: url('/img/cut-grey-background.png');
  // background-repeat: no-repeat;
  // background-size: 100% 650px;
}
@media screen and (min-width: 1000px){
        .enter-section{
          height: 83vh; 
          scroll-snap-type: y mandatory; 
          overflow-y: scroll;
        }
        .section1{
          scroll-snap-align: start;
          
        }
        .section2{
          padding-top: 50px; 
          height: 100vh; 
          scroll-snap-align: center;
        }
        .section3{
          height: 90vh; 
          scroll-snap-align: start; 
          background-image: url('/img/cut-grey-background.png');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .section4{
          height: 100vh;
        }
        .section5{
          height: 90vh; 
          scroll-snap-align: start; 
          background-image: url('/img/cut-grey-background.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
}
.ami-title, .text-ami{
  color: white !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


