// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'colors';
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

@font-face {
    font-family: BillionDreams;
    src: url('/fonts/BillionDreams.ttf');
}

@each $name, $color in $theme-colors {
    .icon-#{$name} {
        .circle {
            fill: $color;
        }

        .check {
            fill: $white;
        }
    }
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100000;
}

.loader .spinner-border {
    position: absolute;
    top: calc(50%);
}

.btn-list {
    color: #fff;
    background-color: #0D614F;
}

.custom-alert-toast {
    position: fixed !important;
    top: 12px;
    right: 20px;
}

.panel-table-title {
    background-color: #0cedb0;
    font-weight: 800;
    font-size: 1rem;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
}
.table .thead-dark th {
    background-color: #3a565a !important;
    border-color: #3a565a !important;
}

#filtrarButton{
    background-color: #0D614F !important;   
}

.panel-table-subtitle {
    background-color: rgba(#0cedb0, 0.6);
    font-weight: 800;
    font-size: 0.85rem;
    padding: 8px 12px !important;
    text-align: left !important;
}

.td-class {
    background-color: rgba(#0cedb0, 0.3);
    font-weight: 800;
    padding: 8px 12px !important;
    text-align: center;
}

.panel-table {
    font-size: 0.8rem;
    margin-bottom: 0 !important;

    tbody td {
        border: 1px solid #e3e6f0;
        text-align: center;
        vertical-align: middle !important;
    }

    .subtitle {
        background-color: rgba(#0cedb0, 0.6);
        text-align: left;

        &-max {
            background-color: rgba(#0cedb0, 0.3);
            text-align: left;
            font-size: 0.9rem;
        }
    }

    th {
        background-color: rgba(#0cedb0, 0.3);
        font-weight: 800;
        padding: 8px 12px;
        text-align: center;
        border-top: 0 !important;
        border-bottom: 0 !important;
        vertical-align: middle !important;
    }

    &-foot {
        border-top: 2px solid #0cedb0;

        td {
            background-color: rgba(#0cedb0, 0.3);
            font-weight: 800;
            padding: 8px 12px !important;
            text-align: center;
        }
    }
}

.circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    i {
        color: #ffffff;
    }
}

.msg-border {
    text-align: center;
    border: 1px solid #ccc;
    padding: 3rem 1rem;
    border-radius: 5px;
    margin-top: 10px;

    p {
        margin-bottom: 0;
    }
}

.multiselect__tags {
    border-color: #b8bec5;
    padding: 6px 40px 0 12px;
    height: 38px;
    min-height: 38px;
}
