// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "colors";
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: BillionDreams;
  src: url("/fonts/BillionDreams.ttf");
}

@each $name, $color in $theme-colors {
  .icon-#{$name} {
    .circle {
      fill: $color;
    }

    .check {
      fill: $white;
    }
  }
}
