// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.col-icons {
  text-align: center;
  display: grid;
  justify-content: center;

  .icon-line {
    padding: 20px;
    margin: 5px;
    border-bottom: 2px solid $black-pearl;
  }
}

.p-sec3 {
  // margin-top: -10px;
}

.secure-text {
  margin-top: -15px;
}

.text-sec3 {
  font-size: 43px;
  // margin-top: -35px;
  font-weight: 900;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
}

//Responsive

@media (max-width: 600px) {
  .doc-respo {
    display: block !important;
  }
  .doc-desk {
    display: none !important;
  }
  .text-respo {
    display: block !important;
  }
  .text-desk {
    display: none !important;
  }
  .text-ami {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -35px;
  }
  .text-p-h {
    max-width: 540px; 
    text-align: justify;
  }
  .btn-more {
    max-width: 195px;
    width: 100%;
  }
}
.text-respo {
  display: none;
}
.text-desk {
  display: block;
}
.doc-respo {
  display: none;
}
.doc-desk {
  display: block;
}
.title{
  color: #056e52;
}
.subtitle{
  color: rgb(9, 186, 139);
}
.degradado{
  background: linear-gradient(90deg, #11484b, #0dbf95e1, #11484b, #0dbf95e1);
  -webkit-background-clip: text;
  color: transparent;  
}
.img-responsive{
  width: 45%;

  @media screen and (max-width: 800px){
    width: 100%;
  }
}

// .responsive1{
//   height: 85vh;
//   scroll-snap-align: start;

//   @media screen and (max-width: 800px){
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }
.text1{
  max-width: 540px; 
  text-align: justify;
  margin-top: 10px;
}

.div-icon{
  border-bottom: 2px solid black;
  max-width: 255px;
}

.btn-informacion:hover{
  color: rgb(9, 186, 139);
}

.ami-title, .text-ami{
  color: white !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.text-big-personas {
  font-size: 150px;
  line-height: 1em;
  text-align: center;
  color: rgb(9, 186, 139);
}

@media (max-width: 600px) {
  .text-big-personas {
    font-size: 86px;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 20px;
  }
}

.text-ami{
  line-height: 42px;
}
.section1{
  height: 87vh;
}
.section2{
  height: 60vh; 
}
.section3{
  // height: 50vh;
  // background-image: url('/img/grey-background3.png');
  // background-size: 100% 565px;
  // background-repeat: no-repeat;
}
.section4{
  height: 60vh; 
}
@media screen and (min-width: 1000px){
  .enter-section{
    height: 83vh; 
    // scroll-snap-type: y mandatory; 
    // overflow-y: scroll;
  }
  .section1{
    // scroll-snap-align: start;
    height: 85vh;
  }
  .section2{
    padding-top: 50px; 
    height: 100vh; 
    // scroll-snap-align: center;
  }
  .section3{
    height: 90vh; 
    // scroll-snap-align: start; 
    background-image: url('/img/cut-grey-background.png');
    background-size: 100% 565px;
    background-repeat: no-repeat;
  }
  .section4{
    
  }
}
@media screen and (min-width: 1366px) and (min-height: 1024px){
  .section3{
    height: 50vh;
  }
}