// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.text-big-personas {
  font-size: 150px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.15em;
}

.col-icons {
  text-align: center;

  .icon-line {
    padding: 20px;
    margin: 5px;
    border-bottom: 2px solid $spring-green;
  }

  .text-line {
    margin-top: 10px;
    font-size: 18px;
  }
}

.text-pc {
  font-weight: bold;
  font-size: 110px;
}

.text-cursi {
  font-family: BillionDreams;
  font-size: 80px;
  line-height: 1;
}

.text-final1 {
  font-size: 50px;
  line-height: 50px;
}

.p-sec3 {
  margin-top: -10px;
}

.secure-text {
  margin-top: -23px;
}

.secure-text {
  margin-top: -15px;
}

.text-sec3 {
  font-size: 43px;
  margin-top: -35px;
}

.text-final2 {
  font-size: 53px;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;

  &-bottom {
    font-size: 110px;
    line-height: 1;
    letter-spacing: -0.095em;
  }
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
}
