// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.text-line {
  margin-top: 10px;
  font-size: 29px;
  font-weight: bold;
}

.back-section1 {
  background-image: url("/img/money-flow.png");
  background-repeat: no-repeat;
  height: 80vh;
  max-height: 700px;
  background-size: contain;
}

.text-ami {
  font-size: 72px;
  margin-bottom: 15px;
}

.text-sec {
  font-size: 20px;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 35px;

  &.border-rr {
    border-radius: 0px 50px 50px 0px;
  }

  &.border-rl {
    border-radius: 50px 0px 0px 50px;
  }
}
