// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.col-icons {
  text-align: center;

  .icon-line {
    padding: 20px;
    margin: 5px;
    border-bottom: 2px solid $spring-green;
  }
}

.p-sec3 {
  margin-top: -10px;
}

.secure-text {
  margin-top: -15px;
}

.text-sec3 {
  font-size: 43px;
  margin-top: -35px;
  font-weight: 900;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
}

//Responsive

@media (max-width: 600px) {
  .doc-respo {
    display: block !important;
  }
  .doc-desk {
    display: none !important;
  }
  .text-respo {
    display: block !important;
  }
  .text-desk {
    display: none !important;
  }
  .text-ami {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -35px;
  }
  .text-p-h {
    text-align: justify;
    padding: 5px 40px;
  }
  .btn-more {
    max-width: 195px;
    width: 100%;
  }
}
.text-respo {
  display: none;
}
.text-desk {
  display: block;
}
.doc-respo {
  display: none;
}
.doc-desk {
  display: block;
}
