// Variables
@import "colors";

html,
body {
  font-family: Poppins;
}

.col-icons {
  text-align: center;
  display: grid;
  justify-content: center;

  .icon-line {
    padding: 20px;
    margin: 5px;
    border-bottom: 2px solid $black-pearl;
  }
}

.p-sec3 {
  // margin-top: -10px;
}

.secure-text {
  margin-top: -15px;
}

.text-sec3 {
  font-size: 43px;
  // margin-top: -35px;
  font-weight: 900;
}

.text-medium {
  font-size: 29px;
}

.text-ami {
  font-size: 36px;
}

.btn-more {
  max-width: 300px;
  width: 100%;
}

.text-spacing {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.3em;
}

//Responsive

@media (max-width: 600px) {
  .doc-respo {
    display: block !important;
  }
  .doc-desk {
    display: none !important;
  }
  .text-respo {
    display: block !important;
  }
  .text-desk {
    display: none !important;
  }
  .text-ami {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -35px;
  }
  .text-p-h {
    max-width: 540px; 
    text-align: justify;
  }
  .btn-more {
    max-width: 195px;
    width: 100%;
  }
}
.text-respo {
  display: none;
}
.text-desk {
  display: block;
}
.doc-respo {
  display: none;
}
.doc-desk {
  display: block;
}
.title{
  color: #056e52;
}
.subtitle{
  color: rgb(9, 186, 139);
}
.degradado{
  background: linear-gradient(90deg, #11484b, #0dbf95e1, #11484b, #0dbf95e1);
  -webkit-background-clip: text;
  color: transparent;  
}
.img-responsive{
  width: 45%;

  @media screen and (max-width: 800px){
    width: 100%;
  }
}

.responsive1{
  height: 100vh;
  scroll-snap-align: start;

  @media screen and (max-width: 800px){
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.text1{
  max-width: 540px; 
  text-align: justify;
  margin-top: 10px;
}

.div-icon{
  border-bottom: 2px solid black;
  max-width: 255px;
}

.btn-informacion:hover{
  color: rgb(9, 186, 139);
}


