// Variables
@import 'colors';

html,
body {
  font-family: Poppins;
}

.twin2{
  display: none;
}
@media screen and (max-width: 780px) and (orientation: landscape) {
  *{
    background-color: white;
  }
  .img-background {
    display: none;
  }
  .twin1 {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: black;
  }
  .twin1{
    display: block;
  }
  .twin2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
.img-background{
  background-image: url('/img/INGRESO-GAF3.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title {
  font-size: 150px;
  line-height: 1em;
  // letter-spacing: 0.15em;
}

.text {
  font-size: 36px;
  line-height: 1;
}

.form-control {
  font-weight: 600;
  text-align: start;
  min-width: 350px;
  background-color: #ffff;
  color: #253f3d;
  border-radius: 10px;
  border: none;
  min-height: 30px;

  &::placeholder{
    color: rgb(150, 149, 149);
  }
  &:focus {
    background-color: #1a2e35;
    color: $caribbean-green;
    box-shadow: none;
  }
}

.btn-submit {
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.375rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 100px !important;
  background-color: #0dedaf;
  color: #ffff;
  transition: color 0.20s ease-in-out, 
              background-color 0.20s ease-in-out, 
              border-color 0.20s ease-in-out, 
              box-shadow 0.20s ease-in-out;
}
.btn-submit:hover{
  border: 1px solid  #0dedaf;
  background-color: #ffff;
  color: black !important;
}
.btn-submit1 {
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.375rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 100px !important;
  background-color: #ffff;
  color: black !important;
  transition: color 0.20s ease-in-out, 
              background-color 0.20s ease-in-out, 
              border-color 0.20s ease-in-out, 
              box-shadow 0.20s ease-in-out;
}
.btn-submit1:hover{
  border: 1px solid  #0dedaf;
  background-color: #ffff;
  color: black !important;
}
.text-author {
  font-weight: 300;
  color: #0cedb0;
}
.power{
  margin: 0;
}
@media screen and (min-width: 2000px){
  .title {
    font-size: 250px;
  }
  
  .text {
    font-size: 66px;
  }

  .form-control, .btn-submit, .power, .password{
    font-size: 30px;
  }
  .custom-control-label::before{
    left: -4.5rem !important;
    width: 3rem;
    height: 2.7rem;
  }
}