// Variables
@import 'colors';

html,
body {
  font-family: Poppins;
}

.title {
  font-size: 150px;
  line-height: 1em;
  // letter-spacing: 0.15em;
}

.text {
  font-size: 36px;
  line-height: 1;
}

.form-control {
  font-weight: 600;
  text-align: center;

  background-color: #e1e1e1;
  color: #253f3d;
  border-radius: 38px;
  border: none;
  min-height: 30px;

  &:focus {
    background-color: #1a2e35;
    color: $caribbean-green;
    box-shadow: none;
  }
}

.btn-submit {
  font-family: Poppins;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.375rem 1.5rem;
}

.text-author {
  font-weight: 300;
  color: #0cedb0;
}
